@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@400;700&display=swap');
* {
  box-shadow: none;
  border: none;
  font-family: 'Overpass', sans-serif;
}
body {
  margin: 0px;

  background-color: hsl(216, 12%, 8%);
}
.main-modal-container {
  height: 100vh;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.modal {
  color: hsl(0, 0%, 100%);
  background: linear-gradient(0deg, rgb(21, 26, 34) 0%, rgb(28, 34, 41) 100%);

  padding: 30px;
  border-radius: 20px;
  width: 350px;

  /* background: hsl(215, 26%, 13%); */
}

.thank-you-modal-container {
  display: none;
  text-align: center;
}

.hide-modal {
  display: none;
}
.show-modal {
  display: block;
}

.circle,
.rank-btn {
  background-color: hsl(213, 19%, 18%);

  width: 50px;
  height: 50px;
  border-radius: 100%;
}
/* dark blue #121417   ---   #252d37 */

.circle img {
  display: block;
  position: relative;
  left: 16px;
  top: 16px;
}

.body-text,
.rank-btn {
  font-size: 15px;
  font-weight: 400;
  color: hsl(217, 12%, 63%);
}

#selected-out-of {
  background-color: hsl(213, 19%, 18%);
  color: hsl(25, 97%, 53%);

  border-radius: 20px;

  width: fit-content;
  height: 35px;

  padding: 0 15px;
  margin: 20px auto 0px;
}
#selected-out-of p {
  padding: 10px 0;
}

.rank-btn-container {
  display: flex;
  justify-content: space-between;
}

.rank-btn:hover {
  cursor: pointer;

  color: hsl(0, 0%, 100%);
  background-color: hsl(217, 12%, 63%);
}

.rank-btn-selected {
  color: hsl(0, 0%, 100%);
  background-color: hsl(25, 97%, 53%);
}

.submit-btn {
  color: hsl(0, 0%, 100%);
  background-color: hsl(25, 97%, 53%);

  border: none;
  border-radius: 50px;

  width: 100%;
  height: 45px;

  margin-top: 30px;
}

.submit-btn:hover {
  cursor: pointer;

  color: hsl(25, 97%, 53%);
  background-color: hsl(0, 0%, 100%);
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

@media (max-width: 450px) {
  .modal {
    width: 300px;
  }
}

/* - White: hsl(0, 0%, 100%)
- Light Grey: hsl(217, 12%, 63%)
- Medium Grey: hsl(216, 12%, 54%)
- Dark Blue: hsl(213, 19%, 18%)
- Very Dark Blue: hsl(216, 12%, 8%) */
